In [4]:
import numpy as np
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import klib

In [5]:
df_train= pd.read_csv(r'C:\Users\hp\Downloads\Train.csv')
df_test= pd.read_csv(r'C:\Users\hp\Downloads\Test.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\hp\\Downloads\\Train.csv'

In [3]:
df_train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
df_test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [5]:
df

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
df_test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [7]:
df_train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [8]:
#We will take mean value for all null values(only for int or float)

In [9]:
df_train['Item_Weight'].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [10]:
df_train['Item_Weight'].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [11]:
df_train['Outlet_Size'].mode()

0    Medium
dtype: object

In [12]:
df_train['Outlet_Size'].fillna(df_train['Outlet_Size'].mode()[0],inplace=True)
df_test['Outlet_Size'].fillna(df_test['Outlet_Size'].mode()[0],inplace=True)

In [13]:
df_train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [14]:
df_test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,Medium,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,Medium,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,Medium,Tier 2,Supermarket Type1

In [15]:
df_train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [16]:
df_train['Item_Weight'].mean()

12.857645184135976

In [17]:
df_train['Item_Weight'].fillna(df_train['Item_Weight'].mean(),inplace=True)
df_test['Item_Weight'].fillna(df_test['Item_Weight'].mean(),inplace=True)

In [18]:
df_train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [19]:
df_train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [20]:
#Now we check which columns r not imp.

In [21]:
df_train.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)
df_test.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)

In [22]:
df_train

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [23]:
df_train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [24]:
# Outlier Reduction using EDA (Exploreatory data analysis)

In [26]:
df_train.info()a

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   float64
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   object
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                8523 non-null   object
 7   Outlet_Location_Type       8523 non-null   object
 8   Outlet_Type                8523 non-null   object
 9   Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [1]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df_train, title="Pandas Profiling Report")

NameError: name 'df_train' is not defined

In [3]:
plt.plot(df_train['outlet_establishment_year'],df_train['item_outlet_sales'])
plt.title('Sales')
plt.xlabel('Est. Year')
plt.ylabel('Item Outlet Sales')
plt.show()

NameError: name 'df_train' is not defined

In [ ]:
# DATA CLEANING

In [27]:
df_train=klib.convert_datatypes(df_train)
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   Float32
 1   Item_Fat_Content           8523 non-null   category
 2   Item_Visibility            8523 non-null   Float32
 3   Item_Type                  8523 non-null   category
 4   Item_MRP                   8523 non-null   Float32
 5   Outlet_Establishment_Year  8523 non-null   int16
 6   Outlet_Size                8523 non-null   category
 7   Outlet_Location_Type       8523 non-null   category
 8   Outlet_Type                8523 non-null   category
 9   Item_Outlet_Sales          8523 non-null   Float32
dtypes: Float32(4), category(5), int16(1)
memory usage: 226.2 KB

In [28]:
df_test=klib.convert_datatypes(df_test)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                5681 non-null   Float32
 1   Item_Fat_Content           5681 non-null   category
 2   Item_Visibility            5681 non-null   Float32
 3   Item_Type                  5681 non-null   category
 4   Item_MRP                   5681 non-null   Float32
 5   Outlet_Establishment_Year  5681 non-null   int16
 6   Outlet_Size                5681 non-null   category
 7   Outlet_Location_Type       5681 non-null   category
 8   Outlet_Type                5681 non-null   category
dtypes: Float32(3), category(5), int16(1)
memory usage: 123.5 KB

In [29]:
klib.pool_duplicates_subsets(df_train)

AttributeError: module 'klib' has no attribute 'pool_duplicates_subsets'

In [30]:
df_train=klib.data_cleaning(df_train)

Shape of cleaned data: (8523, 10)Remaining NAs: 0

Changes:
Dropped rows: 0
     of which 0 duplicates. (Rows: [])
Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.0 MB (-0.0%)

In [31]:
df_test=klib.data_cleaning(df_test)

Shape of cleaned data: (5681, 9)Remaining NAs: 0

Changes:
Dropped rows: 0
     of which 0 duplicates. (Rows: [])
Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.0 MB (-0.0%)

In [ ]:
# Final data - Preprocessing task before Model building

In [ ]:
# 1) Label Encoding

In [32]:
from sklearn import preprocessing
le= preprocessing.LabelEncoder()

In [33]:
df_train

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.3,Low Fat,0.016047,Dairy,249.809204,1999,Medium,Tier 1,Supermarket Type1,3735.137939
1,5.92,Regular,0.019278,Soft Drinks,48.269199,2009,Medium,Tier 3,Supermarket Type2,443.422791
2,17.5,Low Fat,0.01676,Meat,141.617996,1999,Medium,Tier 1,Supermarket Type1,2097.27002
3,19.200001,Regular,0.0,Fruits and Vegetables,182.095001,1998,Medium,Tier 3,Grocery Store,732.380005
4,8.93,Low Fat,0.0,Household,53.861401,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.521805,1987,High,Tier 3,Supermarket Type1,2778.383301
8519,8.38,Regular,0.046982,Baking Goods,108.156998,2002,Medium,Tier 2,Supermarket Type1,549.284973
8520,10.6,Low Fat,0.035186,Health and Hygiene,85.122398,2004,Small,Tier 2,Supermarket Type1,1193.113647
8521,7.21,Regular,0.145221,Snack Foods,103.133202,2009,Medium,Tier 3,Supermarket Type2,1845.597656
8522,14.8,Low Fat,0.044878,Soft Drinks,75.467003,1997,Small,Tier 1,Supermarket Type1,765.669983

In [34]:
df_train['item_fat_content']=le.fit_transform(df_train['item_fat_content'])
df_train['item_type']= le.fit_transform(df_train['item_type'])
df_train['outlet_size']= le.fit_transform(df_train['outlet_size'])
df_train['outlet_location_type']= le.fit_transform(df_train['outlet_location_type'])
df_train['outlet_type']= le.fit_transform(df_train['outlet_type'])

In [35]:
df_test['item_fat_content']=le.fit_transform(df_test['item_fat_content'])
df_test['item_type']= le.fit_transform(df_test['item_type'])
df_test['outlet_size']= le.fit_transform(df_test['outlet_size'])
df_test['outlet_location_type']= le.fit_transform(df_test['outlet_location_type'])
df_test['outlet_type']= le.fit_transform(df_test['outlet_type'])

In [36]:
df_train

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.3,1,0.016047,4,249.809204,1999,1,0,1,3735.137939
1,5.92,2,0.019278,14,48.269199,2009,1,2,2,443.422791
2,17.5,1,0.01676,10,141.617996,1999,1,0,1,2097.27002
3,19.200001,2,0.0,6,182.095001,1998,1,2,0,732.380005
4,8.93,1,0.0,9,53.861401,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,1,0.056783,13,214.521805,1987,0,2,1,2778.383301
8519,8.38,2,0.046982,0,108.156998,2002,1,1,1,549.284973
8520,10.6,1,0.035186,8,85.122398,2004,2,1,1,1193.113647
8521,7.21,2,0.145221,13,103.133202,2009,1,2,2,1845.597656
8522,14.8,1,0.044878,14,75.467003,1997,2,0,1,765.669983

In [37]:
df_test

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type
0,20.75,1,0.007565,13,107.862198,1999,1,0,1
1,8.3,4,0.038428,4,87.319801,2007,1,1,1
2,14.6,1,0.099575,11,241.753799,1998,1,2,0
3,7.315,1,0.015388,13,155.033997,2007,1,1,1
4,12.695633,2,0.118599,4,234.229996,1985,1,2,3
...,...,...,...,...,...,...,...,...,...
5676,10.5,2,0.013496,13,141.315399,1997,2,0,1
5677,7.6,2,0.142991,15,169.144806,2009,1,2,2
5678,10.0,1,0.073529,8,118.744003,2002,1,1,1
5679,15.3,2,0.0,3,214.621796,2007,1,1,1
5680,9.5,2,0.10472,3,79.795998,2002,1,1,1

In [ ]:
#Also there is another way of preprocessing which gives more accurate R**2 value

In [38]:
df_train= pd.get_dummies(df_train, columns=['item_fat_content'])

In [39]:
#Partitioning data for test and train

In [40]:
X=df_train.drop('item_outlet_sales',axis=1)

In [41]:
Y=df_train['item_outlet_sales']

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=101, test_size=0.2)

In [ ]:
# Standardisation (Data is very varying in values)
# Standardisation is not needed in Decision tree, Random forest

In [43]:
X.describe()

,item_weight,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_fat_content_0,item_fat_content_1,item_fat_content_2,item_fat_content_3,item_fat_content_4
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857646,0.066132,7.226681,140.992770,1997.831867,1.170832,1.112871,1.201220,0.037076,0.597090,0.338965,0.013141,0.013728
std,4.226124,0.051598,4.209990,62.275066,8.371760,0.600327,0.812757,0.796459,0.188960,0.490512,0.473386,0.113885,0.116365
min,4.555000,0.000000,0.000000,31.290001,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.310000,0.026989,4.000000,93.826500,1987.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12.857645,0.053931,6.000000,143.012802,1999.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,16.000000,0.094585,10.000000,185.643707,2004.000000,2.000000,2.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,21.350000,0.328391,15.000000,266.888397,2009.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [44]:
from sklearn import preprocessing
sc=preprocessing.StandardScaler()

In [45]:
X_train_std=sc.fit_transform(X_train)

In [46]:
X_test_std=sc.transform(X_test)

In [47]:
X_train_std

array([[ 1.52290023,  0.68469731, -0.75847359, ..., -0.719355  ,
        -0.1150058 , -0.11823609],
       [-1.239856  , -0.09514746,  1.60759199, ..., -0.719355  ,
        -0.1150058 , -0.11823609],
       [ 1.54667619, -0.0083859 ,  0.66116576, ...,  1.39013421,
        -0.1150058 , -0.11823609],
       ...,
       [-0.08197109, -0.91916229,  0.18795264, ..., -0.719355  ,
        -0.1150058 , -0.11823609],
       [-0.74888436,  1.21363045, -1.70489982, ...,  1.39013421,
        -0.1150058 , -0.11823609],
       [ 0.67885675,  1.83915361,  0.4245592 , ..., -0.719355  ,
        -0.1150058 , -0.11823609]])

In [48]:
X_test_std

array([[-0.43860916, -0.21609253,  0.18795264, ..., -0.719355  ,
        -0.1150058 , -0.11823609],
       [ 1.22570184, -0.52943464,  1.37098543, ..., -0.719355  ,
        -0.1150058 , -0.11823609],
       [-1.2184578 ,  0.16277341, -1.46829326, ...,  1.39013421,
        -0.1150058 , -0.11823609],
       ...,
       [ 0.65508101,  0.8782423 ,  0.89777232, ..., -0.719355  ,
        -0.1150058 , -0.11823609],
       [ 1.01171909, -1.28409256,  0.4245592 , ..., -0.719355  ,
        -0.1150058 , -0.11823609],
       [-1.56558541, -1.09265374,  0.66116576, ...,  1.39013421,
        -0.1150058 , -0.11823609]])

In [49]:
Y_train

3684     163.786804
1935    1607.241211
5142    1510.034424
4978    1784.343994
2299    3558.035156
           ...
599     5502.836914
5695    1436.796387
8006    2167.844727
1361    2700.484863
1547     829.586792
Name: item_outlet_sales, Length: 6818, dtype: Float32

In [50]:
Y_test

8179     904.822205
8355    2795.694092
3411    1947.464966
7089      872.86377
6954    2450.144043
           ...
1317    1721.093018
4996     914.809204
531      370.184814
3891    1358.232056
6629    2418.185547
Name: item_outlet_sales, Length: 1705, dtype: Float32

In [55]:
import joblib

In [59]:
joblib.dump(sc,r'C:\Users\hp\Downloads\Sales predic\Models\sc.sav')

['C:\\Users\\hp\\Downloads\\Sales predic\\Models\\sc.sav']

In [ ]:
# Model Buildin (linear regression and Random forest)

In [57]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [60]:
lr.fit(X_train_std,Y_train)

LinearRegression()

In [61]:
Y_pred_lr=lr.predict(X_test_std)

In [62]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [63]:
r2_score(Y_test,Y_pred_lr)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_regression.py:90: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)

0.5039390629550986

In [65]:
mean_absolute_error(Y_test,Y_pred_lr)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_regression.py:90: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)

880.894727318921

In [67]:
np.sqrt(mean_squared_error(Y_test,Y_pred_lr))

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_regression.py:90: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)

1162.7325506058444

In [68]:
joblib.dump(lr,r'C:\Users\hp\Downloads\Sales predic\Models\lr.sav')

['C:\\Users\\hp\\Downloads\\Sales predic\\Models\\lr.sav']

In [69]:
#random forests

In [70]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()

In [71]:
rf.fit(X_train_std,Y_train)

RandomForestRegressor()

In [74]:
Y_pred_rf=rf.predict(X_test) # No need to standardise in case of Random forest and decision trees

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\base.py:439: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [75]:
print(r2_score(Y_test,Y_pred_rf))
print(mean_absolute_error(Y_test,Y_pred_rf))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_rf)))

-2.84738572620954
2949.8722229451378
3238.1367142530803

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_regression.py:90: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)
c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_regression.py:90: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)
c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_regression.py:90: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_true = check_array(y_true, ensure_2d=False, dtype=dtype)